<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="susername" value="root"/>
    <!--treesuser-->
    <add key="spassword" value="trees"/>
    <!--treespass-->
    <add key="sserver" value="localhost"/>
    <!--198.71.58.150,87.106.184.4-->
    <add key="sdb" value="mi"/>
    <add key="DateFormat" value="%d/%m/%Y"/>
    <add key="DateTimeFormat" value="%d/%m/%Y %h:%i:%s %p"/>
    <add key="DateTimeFormat24" value="%d/%m/%Y %H%i"/>
    <add key="folderpath" value="E:\Xmlfiles"/>
    <add key="rmserver" value="87.106.184.4"/>
    <add key ="RemoteServerConnectionString" value="Hfre Vq=one; CJQ =NOP987KLM; Freire=87.106.184.4;Cbeg=3306;Qngnonfr=op_yvzf"/>
    <add key="machinecodecliquePort1" value="7"/>
    <add key="machinecodecliquePort2" value="7"/>
    <add key ="localDbConn" value="Freire = ybpnyubfg; Cbeg = 3306; Qngnonfr = ZV; Hfre vq = ebbg; Cjq = gerrf" />
    <add key="clientid" value="006"/>
    <add key="parsingalgorithm_port1" value="1" />
    <add key="parsingalgorithm_port2" value="1" />
  <add key="dummy" value="xyz"></add>
  </appSettings>
</configuration>